.shop-one{
    display: flex;
    padding-top: 160px;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Image\ \(11\).svg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
}